@model SeriesTracker.Models.Series

<h2 class="text-center mt-4">+ Add New Series</h2>

<form class="mt-4">
    <div class="form-group">
        <label for="Title">Title</label>
        <input class="form-control" placeholder="Enter series title" />
    </div>

    <div class="form-group">
        <label for="Genre">Genre</label>
        <input class="form-control" placeholder="Enter genre" />
    </div>

    <div class="form-group">
        <label for="Creator">Creator</label>
        <input class="form-control" placeholder="Enter creator's name" />
    </div>

    <div class="form-group">
        <label for="Seasons">Seasons</label>
        <input type="number" class="form-control" placeholder="Enter number of seasons" />
    </div>

    <button type="button" class="btn btn-primary">
        <i class="fas fa-save"></i> Save Series (Placeholder)
    </button>
</form>
