@model IEnumerable<SeriesTracker.Models.Series>

<h2 class="text-center mt-4">📺 Series List</h2>

<table class="table table-striped table-bordered shadow-lg">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Creator</th>
            <th>Seasons</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Breaking Bad</td>
            <td>Crime, Drama</td>
            <td>Vince Gilligan</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Stranger Things</td>
            <td>Sci-Fi, Horror</td>
            <td>The Duffer Brothers</td>
            <td>4</td>
        </tr>
        <tr>
            <td>Game of Thrones</td>
            <td>Fantasy, Drama</td>
            <td>David Benioff & D. B. Weiss</td>
            <td>8</td>
        </tr>
    </tbody>
</table>
